.line {
    display: block;
    /* margin-top: 36px;
    margin-bottom: 36px; */
    align-self: center;
    border: 0.25px solid #efca01;
    width: 158px;
    height: 0px;
}

@media (min-width: 768px) { 
    .line {
        display: none;
    }
}