# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

 // "regiter": {
    //     "title": "Register",
    //     "name": "Name",
    //     "pwd": "Password",
    //     "makeIt": "Create an account",
    //     "already": "Already have an account?",
    //     "login": "Log in",
    //     "continue": "Or continue",
    //     "without": "without an account",
    //     "goodMessage": "Successfully registered!"
    // },

    "regiter": {
        "title": "Registreren",
        "name": "Naam",
        "pwd": "Wachtwoord",
        "makeIt": "Maak een account aan",
        "already": "Heb je al een account?",
        "login": "Inloggen",
        "without": "Of ga verder zonder account"
    },

        "regiter": {
        "title": "S'inscrire",
        "name": "Nom",
        "pwd": "Mot de passe",
        "makeIt": "Créer un compte",
        "already": "Vous avez déjà un compte ?",
        "login": "Se connecter",
        "without": "Ou continuer sans compte"
    },