.title {
    text-align: end;
    margin-bottom: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.avatar {
    width: 400px;
    height: 400px;
    background-color: burlywood;
}

.infoContainer {
    display: flex;
    gap: 38px;
}

.name {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.text {
    font-family: "Montserrat", sans-serif;
    max-width: 684px;
    margin-bottom: 8px;
}

.textContainer {
    text-align: end;
}