.buttonsContainer {
    margin-top: 24px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.button {
    border: none;
    background-color: gold;
    cursor: pointer;
}

.icon {
    width: 56px;
    height: 24px;
    fill: black;
}