.buttonsContainer {
    margin-top: 24px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button svg path {
    transition: stroke 0.20s linear;
}

.button:hover svg path{
    stroke: #efca01;
}

.icon {
    width: 56px;
    height: 24px;
    fill: black;
}

/* .icon:hover {
    fill: #efca01;
} */