.container {
    position: relative;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 94px;
    left: 516px;
}

.title {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #efca01;
}

.blackSpan {
    color: black;
}

.icon {
    width: 41px;
    height: 57px;
}

.picture {
    width: 740px;
    height: 483px;
    background: #717171;
}

.subTitle {
    position: absolute;
    top: 179px;
    right: 0;

    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.button {
    background-color: transparent;
    border: 2px solid #efca01;
    border-radius: 10px;
    cursor: pointer;

    padding: 22px 42px;
    position: absolute;
    top: 360px;
    right: 0;

    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #5d4037;
    transition: box-shadow 0.15s ease-in;
}

.button:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
}