.links {
    display: none;
}


/* ========== TABLET =========== */

@media (min-width: 768px) {
.links {
    display: flex;
    gap: 28px;
    flex-direction: row;
    justify-content: flex-end;
    line-height: normal;
}

.link {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-variant: all-small-caps;
    cursor: pointer;
    transition: color 0.15s ease-in;
}
}


/* ========= DESKTOP ========= */

@media (min-width: 1158px) {

.link:hover {
    color: #efca01;
}
}