.header {
    box-sizing: border-box;
    padding: 11px 24px;
    border-bottom: 1px solid #efca01;
    min-width: max-content;
    height: 46px;
    box-shadow: 0 4px 19px 2px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}

.icon {
    width: 16px;
    height: 24px;
}

/* ========== TABLET =========== */

@media (min-width: 768px) {
.header {
    padding: 11px 16px;
}
}


/* ========== DESKTOP =========== */

@media (min-width: 1158px) {
.header {
    padding: 11px 96px;
}
}