.background {
    padding: 32px 0 42px 0;
    background: linear-gradient(180deg, rgba(239, 202, 1, 0.68) 0%, rgba(239, 202, 1, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 64px; */
    text-align: center;
}

.question {
    display: flex;
    gap: 4px;
    margin-bottom: 18px;
}

.icon {
    width: 17px;
    height: 23px;
}

.q {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.address {
    margin-bottom: 22px;
}

.qSecond {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    max-width: 152px;
    margin-bottom: 18px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}

.socialIconsWrapper {
    display: flex;
    gap: 8px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #000;
    line-height: 80%;
}

.socialIcon {
    width: 32px;
    height: 32px;
    /* transition: stroke 0.10s ease-in-out; */
}

.a {
    line-height: 0%;
}

/* ========= DESKTOP ========== */

@media (min-width: 768px) {

.background {
    padding: 64px 0 148px 0;
}

.q {
    font-size: 20px;
}

.qSecond {
    font-size: 20px;
    max-width: fit-content;
    margin-bottom: 0px;
}

.icon {
    width: 21px;
    height: 30px;
}

.link {
    font-size: 24px;
    line-height: normal;
}

.social {
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}

/* .socialIcon:hover {
    stroke: rgba(239, 202, 1, 0.68);
} */
}