.modalOverlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    inset: 0;
    z-index: 999;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.modal {
    background-color: #fff;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    width: 264px;
    height: 100vh;
    /* flex: 1, */
}

.button {
    margin-left: auto;
}

/* @media (min-width: 768px) { */
.button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* } */