/* body {
    position: relative;
} */

/* .swiper .swiper-slide {
    display: flex;
} */

.swiper {
  margin-top: 36px;
  /* position: relative; */
  margin-left: 210px;
  margin-right: 210px;
}

.swiper .swiper-slide {
  align-self: center;
  margin-right: 40px;
}

.swiper-grid > .swiper-wrapper {
  display: flex;
  align-items: center;
  /* margin: 0 58px 0 58px; */
  /* max-width: 1020px; */
  overflow: hidden;
  /* margin-left: 210px;
            margin-right: 210px; */
}

.swiper .swiper-button-prev {
  color: #111111;
  /* position: absolute; */
  /* left: 96px; */
}

.swiper .swiper-button-next {
  color: #111111;
  /* position: absolute; */
  /* right: 96px; */

  /* margin-left: 32px;
    margin-right: 32px; */
}

.title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #111111;
  text-align: center;
  line-height: 80%;
}

.yellowSpan {
  color: #efca01;
}

.link {
  font-family: "Cormorant Garamond", sans-serif;
  font-variant: all-small-caps;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.15s ease-in;
}

.button {
  background-color: #ffffff;
  border: 2px solid #efca01;
  border-radius: 10px;

  display: block;
  padding: 16px 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;

  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #5d4037;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.button:active {
  box-shadow: none;
}

.header {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 11px 24px;
  border-bottom: 1px solid #efca01;
  min-width: 100%;
  /* height: 46px; */
  box-shadow: 0 4px 19px 2px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
}

/* ========== TABLET =========== */

@media (min-width: 768px) {
  .title {
    font-size: 48px;
    text-align: inherit;
  }

  .swiper-grid > .swiper-wrapper {
    margin: 0 58px 0 58px;
  }

  .swiper {
    margin-top: 32px;
  }

  .link {
    font-size: 16px;
  }
}

/* ========== DESKTOP =========== */

@media (min-width: 1158px) {
  .title {
    font-size: 64px;
  }

  .button {
    box-shadow: none;
  }

  .button:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  }

  .swiper {
    margin-top: 48px;
  }

  .swiper-grid > .swiper-wrapper {
    margin: 0;
  }

  .link {
    font-size: 20px;
  }

  .link:hover {
    color: #efca01;
  }
}
