.linksContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.link {
    font-family: "Cormorant Garamond", sans-serif;
    font-variant: all-small-caps;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.15s ease-in;
}


/* ========== TABLET =========== */

@media (min-width: 768px) {

.linksContainer {
    margin-top: 0;
}
}


/* ========== DESKTOP =========== */

@media (min-width: 1158px) {

.link:hover {
    color: #efca01;
}
}