.linksContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

/* ========== TABLET =========== */

@media (min-width: 768px) {
  .linksContainer {
    margin-top: 0;
  }
}

/* ========== DESKTOP =========== */

/* @media (min-width: 1158px) {

} */
